<form method="post" action="/api/contact" id="add_user">
    <h5>Create New Contact</h5>
    <input type="text" name="name" placeholder="Enter Name" id="">
    <input type="text" name="email" placeholder="Enter Email" id="">
    <input type="text" name="phone" placeholder="Enter Phone" id="">
    <button type="submit">Create</button>
</form>