<table>
    <tr><img src="../Images/logo.png" height="100px" /></tr>
    <tr>
        <td><a href="/">Home</a></td>
        <td><a href="/about">About me</a></td>
        <td><a href="/projects">Projects</a></td>
        <td><a href="/services">Services</a></td>
        <td><a href="/contact">Contact Me</a></td>
        <td><a href="/login">SignIn</a></td>
        <td><a href="/contactList">Contact List</a></td>
    </tr>
</table>