<html>

<%- include('partials/header.ejs') %>

    <body>
        <%- include('partials/navbar.ejs') %>
            <div style="padding-top: 20px;">
                <h2>About me</h2>
                <img src="./Images/Sahar.jpg" height="100px" width="100px" />
                <table>
                    <tr>
                        <td>Name: </td>
                        <td>Sahar Yusufzai</td>
                    </tr>
                    <tr>
                        <td valign="top">About me: </td>
                        <td>
                            My name is Sahar Yusufzai. I am a 20 year old female, currently living in Ontario Canada.
                            <br>
                            I have been practicing coding all my life. My uncle taught me python when I was 10 years
                            old.
                            <br>
                            My goal is to be a successful software engineer and to travel the world. There are many
                            place I
                            would love to see but I have never been outside of North America.
                        </td>
                    </tr>
                    <tr>
                        <td>Here is my Resume: </td>
                        <td><a target="_blank" href="./Images/Resume.pdf">Click Here</a></td>
                    </tr>
                </table>
            </div>
    </body>

</html>