<html>


<%- include('partials/header.ejs') %>

    <body>
        <%- include('partials/navbar.ejs') %>
            <div style="padding-top: 20px;">
                <h2>Contact Me</h2>
                <table>
                    <tr>
                        <td>Contact number: </td>
                        <td>613-291-8697</td>
                    </tr>
                    <tr>
                        <td>LinkedIn: </td>
                        <td>Sahar Yusufzai</td>
                    </tr>
                    <tr>
                        <td>Email: </td>
                        <td>saharyusufzaii@gmail.com</td>
                    </tr>
                </table>
            </div>
            <div style="width: 400px; position: absolute; top: 30px ; right: 50px; margin:0px auto ; padding: 20px ; border-radius: 10px ; background-color: lightgray ;"
                class="container mx-3 my-3 ">
                <div class="mb-2">
                    <label for="exampleFormControlInput1" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="First Name">
                </div>
                <div class="mb-2">
                    <label for="exampleFormControlInput1" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Last Name">
                </div>
                <div class="mb-2">
                    <label for="exampleFormControlInput1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email">
                </div>
                <div class="mb-2">
                    <label for="exampleFormControlInput1" class="form-label">Contact Number</label>
                    <input type="number" class="form-control" id="exampleFormControlInput1"
                        placeholder="Contact Number">
                </div>
                <div class="mb-2">
                    <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <button type="button" class="btn btn-primary">Submit</button>

            </div>


    </body>

</html>