<html>

<%- include('partials/header.ejs') %>

    <body>
        <%- include('partials/navbar.ejs') %>
            <div style="padding-top: 20px;">
                <h2>Services</h2>
                <ol>
                    <li>Programming</li>
                    <li>Mobile App Development</li>
                    <li>Web Development</li>
                    <li>Web Designing</li>
                </ol>
            </div>

    </body>

</html>